{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [1],
    "space-before-function-paren": "off",
    "func-names": "off",
    "no-plusplus": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  },
  "plugins": [
    "flowtype",
    "jest"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}