.container {
  margin: 10px;
  width: 300px;
  height: 300px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.art {
  display: inline;
  margin-left: -300px;
  opacity: 1;
  transition: opacity 750ms ease;
}

.art:hover {
  opacity: 0;
  transition: opacity 750ms ease;
}

.moveArt {
  margin-left: -300px;
}