.container {
  display: flex;
  justify-content: center;
}

.contentBox {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 960px;

}

:global(.fade-enter) {
  opacity: 0.01;
}

:global(.fade-enter.fade-enter-active) {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

:global(.fade-leave) {
  opacity: 1;
}

:global(.fade-leave.fade-leave-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}