.container {
  margin: 10px;
  border: 5px solid #222
}

.art {
  display: inline;
  margin-left: -300px;
  opacity: 1;
  transition: opacity 750ms ease;
}

.art:hover {
  opacity: 0;
  transition: opacity 750ms ease;
}

.moveArt {
  margin-left: -300px;
}