.container {
  display: flex;
  cursor: pointer;
}

.input {
  display: none;
}

.overlay {
  display: inline;
  margin-left: -300px;
  opacity: 0;
  background-color: black;
  cursor: pointer;
  z-index: 1;
  width: 300px;
  height: 300px;
  transition: opacity 150ms ease;
}

.overlay:hover {
  opacity: 0.9;
  transition: opacity 150ms ease;
}

.canvasCard {
  composes: container from './galleryCard.css';
  display: flex;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.23);
  
}
