.active {
  text-decoration: none;
  color: #303030;
}

.navbar {
  composes: fancy from '../../styles/typography.css';
  composes: primaryBg from '../../styles/colors.css';
  display: flex;
  justify-content: center;
  height: 100px;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.inactive {
  transition: all .4s ease;
}

.inactive:hover {
  color: #303030;
}

.linkBox {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0px 10px 8px;
}

.titleBox {
  composes: header;
  flex-direction: column;
  font-size: 1.8rem;
}

.thin {
  font-weight: 200;
}

.genetic {
  composes: thin;
}

.gallery {
  composes: thin;
  margin-top: -10px;
  margin-bottom: -3px;
}

@media (min-width: 975px) {
  .linkBox {
    justify-content: center;
    align-items: flex-end;
  }

  .header {
    width: 300px;
  }
}

@media (min-width: 655px) and (max-width: 974px) {
  .navbar {
    justify-content: flex-start;
  }

  .linkBox {
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 7px;
  }
}

@media (max-width: 654px) {
  .navbar {
    justify-content: flex-start;
    height: 135px;
  }

  .linkBox {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7px;
  }

  .genetic {
    display: none;
    margin: 5px 0 -6px;
  }

  .gallery {
    margin: 5px 0 -6px;
  }
  
}



