.active {
  text-decoration: none;
  color: #303030;
}

.navbar {
  composes: fancy from './typography.css';
  composes: primaryBg from './colors.css';
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.inactive {
  transition: all .4s ease;
}

.inactive:hover {
  color: #303030;
}

.header {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0px 10px 8px;
}

.title {
  composes: header;
  flex-direction: column;
  font-size: 1.8rem;
}

.thin {
  font-weight: 200;
}

.closer {
  composes: thin;
  margin-top: -10px;
  margin-bottom: -3px;
}


