.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvases {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 975px) {
  .adv {
    margin-left: 320px;
  }
}
