.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
}

.header {
  composes: fancy from '../../styles/typography.css';
}

.link {
  text-decoration: underline;
  color: #79A3DE
}

.link:visited {
  color:#609
}

.source {
  margin-top: 25px;
}